[Unit]
Description=Telegram bot server
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=mohamed
ExecStart= /home/mohamed/.cargo/bin/cargo run /home/mohamed/personal/homebot/Cargo.toml

[Install]
WantedBy=multi-user.target
