[Unit]
Description=Telegram bot server
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=${USER}
ExecStart= RUST_LOG=debug /home/${USER}//.cargo/bin/cargo run --release /home/${USER}/personal/homebot/Cargo.toml
WorkingDirectory=/home/${USER}/personal/homebot

[Install]
WantedBy=multi-user.target
