[Unit]
Description=Telegram bot server
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=mohamed
ExecStart=/usr/bin/watchexec -v -w /home/mohamed/homebot --workdir /home/mohamed/homebot -r -e notif  -- /home/mohamed/.cargo/bin/cargo run

[Install]
WantedBy=multi-user.target